@import "./icon__fonts/iconfonts.css";
@import url(https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:500,700,&display=swap);
[class*=__container] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100%;
}

body.lock {
  overflow: hidden;
}

html {
  font-family: "Inter", sans-serif;
}

.icon-arrow:before {
  content: "\e900";
}

.icon-github:before {
  content: "\e901";
}

.icon-instagram:before {
  content: "\e902";
}

.icon-linkedin:before {
  content: "\e903";
}

.icon-portfolio:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\e905";
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.title__label {
  font-weight: 500;
  font-size: 0.75em;
  line-height: 2;
  letter-spacing: 0.62em;
  color: #656d72;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 16px;
}
.title__label::before {
  content: "";
  width: 16px;
  height: 2px;
  background-color: #d9d9d9;
}
.title__label:not(:last-child) {
  margin-bottom: 9px;
}
.title__value {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 2em;
  line-height: 1.25;
}
.title__value span {
  color: #7e74f1;
}
@media (max-width: 767.98px) {
  .title__value {
    font-size: 1.6em;
  }
}
.title__value-big {
  font-size: 2.75em;
  line-height: 1.25;
}

.text {
  line-height: 2;
}
.text:not(:last-child) {
  margin-bottom: 40px;
}
.text p:not(:last-child) {
  margin-bottom: 15px;
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 33px;
       column-gap: 33px;
  row-gap: 5px;
}
.social__link {
  font-size: 1.5em;
  color: #232e35;
  transition: color 0.3s ease 0s;
}
.social__link:hover {
  color: #7e74f1;
}

.category-link {
  display: inline-block;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1.25;
  color: #656d72;
  border: 1px solid #f1f1f1;
  border-radius: 4px;
  padding: 4px 8px;
  transition: all 0.3s ease 0s;
}
.category-link:hover {
  color: #ffffff;
  border-color: #7e74f1;
  background-color: #7e74f1;
}

.date {
  display: inline-block;
  padding: 4px 8px;
  font-weight: 500;
  font-size: 0.75em;
  line-height: 1.25;
  color: #656d72;
  background-color: #fbfbfb;
  border-radius: 4px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #232e35;
  background-color: #fbfbfb;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.75);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  min-height: 120px;
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 60px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  z-index: 5;
}
.header__button {
  z-index: 5;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.21;
  padding: 14px 24px;
  border: 1px solid #f1f1f1;
  border-radius: 8px;
  color: inherit;
  transition: all 0.3s ease 0s;
}
.header__button:hover {
  color: #ffffff;
  background-color: #7e74f1;
  border-color: #7e74f1;
}
@media (max-width: 767.98px) {
  .header__button {
    padding: 8px 20px;
  }
}
.header__actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logo__name {
  color: #232e35;
  font-size: 1.5em;
  font-weight: 500;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #7e74f1;
    opacity: 0.9;
    padding: 90px 15px 30px 15px;
    transition: left 0.4s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #7e74f1;
    z-index: 2;
  }
  .menu__body.menu-open {
    left: 0;
  }
}
@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 56px;
         column-gap: 56px;
    row-gap: 5px;
  }
}
.menu__item {
  text-align: right;
}
@media (max-width: 767.98px) {
  .menu__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.menu__link {
  color: inherit;
  font-weight: 500;
  line-height: 1.18;
  transition: color 0.3s ease 0s;
}
.menu__link:hover {
  color: #7e74f1;
}
@media (max-width: 767.98px) {
  .menu__link {
    color: #ffffff;
    font-size: 2em;
  }
}

.icon-menu {
  background-color: inherit;
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 36px;
    height: 18px;
    flex: 0 0 30px;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #232e35;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    transform: scale(1) translate(0, -50%);
  }
  .icon-menu.menu-open span {
    transform: scale(0) translate(0, -50%);
  }
  .icon-menu.menu-open::before {
    top: 50%;
    transform: rotate(-45deg);
  }
  .icon-menu.menu-open::after {
    bottom: 50%;
    transform: rotate(45deg);
  }
}

.main-section {
  background-color: #ffffff;
}
.main-section__container {
  display: grid;
  min-height: 100vh;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 160px;
  padding-bottom: 30px;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 767.98px) {
  .main-section__container {
    grid-template-columns: 1fr;
    row-gap: 30px;
    padding-top: 100px;
  }
}
.main-section__title:not(:last-child) {
  margin-bottom: 32px;
}
.main-section__text:not(:last-child) {
  margin-bottom: 40px;
}
.decor-main-section {
  max-width: 336px;
  margin: 0px 25px;
}
@media (min-width: 767.98px) {
  .decor-main-section {
    width: 100%;
    justify-self: end;
  }
}
.decor-main-section__box {
  position: relative;
  padding-bottom: 119%;
}
.decor-main-section__box::before, .decor-main-section__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.decor-main-section__box::before {
  z-index: 1;
  background-color: #7e74f1;
  transform: rotate(-9.55deg);
}
.decor-main-section__box::after {
  z-index: 2;
  background: #eae6fe url(/assets/main/lines.svg) top right/58% no-repeat;
}
.decor-main-section__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 16px;
  overflow: hidden;
}
.decor-main-section__picture {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
}

.services {
  background-color: #fbfbfb;
}
.services__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 160px;
}
@media (max-width: 767.98px) {
  .services__container {
    padding-top: 100px;
    padding-bottom: 30px;
  }
}
@media (max-width: 467px) {
  .services__container {
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.services__title:not(:last-child) {
  margin-bottom: 80px;
}
@media (max-width: 467px) {
  .services__title:not(:last-child) {
    margin-bottom: 30px;
  }
}
.services__items {
  width: 100%;
  display: grid;
  -moz-column-gap: 56px;
       column-gap: 56px;
  row-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
.item-service {
  border-radius: 8px;
  background-color: #ffffff;
  padding: 53px 57px;
  display: grid;
  justify-items: center;
  text-align: center;
}
@media (max-width: 467px) {
  .item-service {
    padding: 23px 27px;
  }
}
.item-service__icon {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f3fe;
  border-radius: 16px;
}
.item-service__icon:not(:last-child) {
  margin-bottom: 24px;
}
.item-service__title {
  font-weight: 500;
  line-height: 1.25;
}
.item-service__title:not(:last-child) {
  margin-bottom: 16px;
}
.item-service__text {
  font-size: 0.875em;
  line-height: 1.71;
}
.item-service__text:not(:last-child) {
  margin-bottom: 10px;
}

.portfolio {
  background-color: #ffffff;
}
.portfolio__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 30px;
}
@media (max-width: 767.98px) {
  .portfolio__container {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
.portfolio__header {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 144px;
}
@media (max-width: 767.98px) {
  .portfolio__header {
    margin-bottom: 60px;
    flex-direction: column;
    align-items: stretch;
  }
}
@media (max-width: 467px) {
  .portfolio__header {
    margin-bottom: 40px;
  }
}
.portfolio__controls {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 767.98px) {
  .portfolio__controls {
    justify-content: center;
  }
}
.portfolio__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #eae6fe;
  border-radius: 16px;
  font-size: 0.68em;
  color: #7e74f1;
  transition: all 0.3s ease 0s;
}
.portfolio__arrow:hover {
  background-color: #a394ea;
  color: #ffffff;
}
.portfolio__arrow_left {
  transform: rotate(-180deg);
}
.portfolio__slider {
  max-width: 100%;
}
@media (max-width: 767.98px) {
  .portfolio__slider {
    margin-right: 0.9em;
    padding-right: 0.9em;
  }
}
.portfolio__arrow.swiper-button-disabled {
  cursor: default;
  opacity: 0.5;
}
.item-portfolio {
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-portfolio__body {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}
.item-portfolio__title {
  flex: 1 1 100%;
}
.item-portfolio__link-title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  line-height: 1.25;
  color: inherit;
  transition: color 0.3s ease 0s;
}
.item-portfolio__link-title:hover {
  color: #7e74f1;
}
.item-portfolio__link {
  font-size: 0.6em;
  color: #656d72;
  transition: color 0.3s ease 0s;
}
.item-portfolio__link:hover {
  color: #7e74f1;
}

.ibg {
  overflow: hidden;
  padding-bottom: 81%;
  opacity: 0.5;
  transition: opacity 0.5s ease 0s;
}
.ibg:hover {
  opacity: 1;
}
.ibg:hover img {
  transform: scale(1.06);
}
.ibg img {
  -o-object-position: top;
     object-position: top;
  transition: transform 0.5s ease 0s;
}

.career {
  background-color: #fbfbfb;
}
.career__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 767.98px) {
  .career__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.career__body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  row-gap: 80px;
  -moz-column-gap: 144px;
       column-gap: 144px;
}
@media (max-width: 1230px) {
  .career__body {
    row-gap: calc(
        20px + 60 *
          ((100vw - 320px) / 910)
      );
  }
}
@media (max-width: 1230px) {
  .career__body {
    -moz-column-gap: calc(
        20px + 124 *
          ((100vw - 320px) / 910)
      );
         column-gap: calc(
        20px + 124 *
          ((100vw - 320px) / 910)
      );
  }
}
@media (min-width: 767.98px) {
  .career__body {
    grid-auto-flow: column;
    align-content: center;
    align-items: start;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
  }
}
@media (min-width: 767.98px) {
  .career__content {
    grid-row: span 2;
    padding-top: 32px;
  }
}

.navigation-career {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 767.98px) {
  .navigation-career {
    flex-direction: row;
  }
}
@media (max-width: 467px) {
  .navigation-career {
    flex-wrap: wrap;
  }
}
.navigation-career__title {
  display: block;
  width: 100%;
  text-align: left;
  padding: 14px 24px;
  line-height: 1.2;
  background-color: inherit;
  transition: all 0.2s ease 0s;
  border: #7e74f1 1px solid;
  border-radius: 5px;
  margin: 10px;
}
@media (max-width: 767.98px) {
  .navigation-career__title {
    padding: 14px;
    width: 100%;
  }
}
.navigation-career__title:hover {
  color: #7e74f1;
}
.navigation-career__title.active {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  color: #7e74f1;
}
.navigation-career__title.active::after {
  content: "\e900";
  font-family: Icons;
  font-size: 0.9em;
}

.content-career__body {
  display: none;
}
.content-career__body.active {
  display: block;
}
.content-career__header {
  padding-bottom: 32px;
  border-bottom: 1px solid #f1f1f1;
}
.content-career__title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-size: 1.21em;
  line-height: 1.27;
}
.content-career__title:not(:last-child) {
  margin-bottom: 8px;
}
.content-career__link_title {
  color: inherit;
  text-decoration: underline;
  transition: color 0.3s ease 0s;
}
.content-career__link_title:hover {
  color: #7e74f1;
}
.content-career__location {
  font-size: 0.87em;
  line-height: 1.21;
  color: #656d72;
}
.content-career__location:not(:last-child) {
  margin-bottom: 16px;
}
.content-career__time {
  font-weight: 500;
  font-size: 0.87em;
  line-height: 1.71;
  color: #656d72;
}
.content-career__time:not(:last-child) {
  margin-bottom: 16px;
}
.content-career__main {
  padding-top: 32px;
}
.list-content-career__item {
  color: #656d72;
  line-height: 1.2;
  position: relative;
  padding-left: 28px;
}
.list-content-career__item:not(:last-child) {
  margin-bottom: 16px;
}
.list-content-career__item::before {
  content: "";
  width: 10px;
  height: 2px;
  background-color: #d9d9d9;
  position: absolute;
  top: 0.5em;
  left: 0;
}

.blog {
  background-color: #ffffff;
}
.blog__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 767.98px) {
  .blog__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.blog__items {
  align-self: stretch;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
@media (max-width: 767.98px) {
  .blog__items {
    gap: 20px;
  }
}
.blog__title {
  margin-bottom: 141px;
}
@media (max-width: 767.98px) {
  .blog__title {
    margin-bottom: 60px;
  }
}

.item-blog {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #f1f1f1;
}
.item-blog__image {
  padding-bottom: 67%;
  opacity: 1;
  overflow: hidden;
}
.item-blog__image img {
  transition: transform 0.8s ease 0s;
}
.item-blog__image:hover {
  transform: scale(1.02);
}
.item-blog__body {
  padding: 16px 16px 24px 16px;
  display: grid;
  gap: 16px;
}
.item-blog__link-title {
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
  transition: color 0.3s ease 0s;
}
.item-blog__link-title:hover {
  color: #7e74f1;
}
.item-blog__date {
  justify-self: start;
}
.item-blog__text {
  line-height: 2em;
  color: #656d72;
}
.item-blog__link {
  justify-self: center;
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.21;
  color: #656d72;
  margin-top: 24px;
  transition: color 0.3s ease 0s;
}
.item-blog__link:hover {
  color: #7e74f1;
}

.testimonials__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 160px;
  background-color: #fbfbfb;
  border-radius: 8px;
}
@media (max-width: 767.98px) {
  .testimonials__container {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
.testimonials__author {
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.28;
}
.testimonials__author:not(:last-child) {
  margin-bottom: 9px;
}

.testimonials__title {
  margin-bottom: 123px;
}
@media (max-width: 767.98px) {
  .testimonials__title {
    margin-bottom: 80px;
  }
}
.testimonials__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  align-self: stretch;
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 60px;
}
.testimonials__item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 83px 52px 24px 32px;
  position: relative;
  border-radius: 8px;
}

.item-testimonials__icon {
  position: absolute;
  content: "";
  top: -45px;
  left: 37%;
  width: 96px;
  height: 96px;
}
.item-testimonials__text {
  flex: 1 1 auto;
  line-height: 1.75;
}
.item-testimonials__text:not(:last-child) {
  margin-bottom: 48px;
}

.author__prof {
  align-self: flex-start;
}

.skills__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 767.98px) {
  .skills__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.skills__title {
  margin-bottom: 130px;
}
@media (max-width: 767.98px) {
  .skills__title {
    margin-bottom: 60px;
  }
}
.skills__body {
  display: grid;
  gap: 40px;
}
@media (min-width: 767.98px) {
  .skills__body {
    grid-template-columns: 1fr 55%;
  }
}
.timeline {
  display: grid;
  gap: 64px;
  position: relative;
}
@media (max-width: 767.98px) {
  .timeline {
    gap: 30px;
  }
}
.timeline::before {
  position: absolute;
  content: "";
  top: 4px;
  left: 12px;
  width: 1px;
  height: 100%;
  background-color: #f1f1f1;
}
.timeline__item {
  position: relative;
  padding-left: 40px;
}
.timeline__item::before {
  position: absolute;
  content: "";
  top: 3px;
  left: 4px;
  height: 16px;
  width: 16px;
  z-index: 3;
  background-color: #f1f1f1;
  border-radius: 50%;
}
.timeline__item:last-child::after {
  content: "";
  position: absolute;
  z-index: 2;
  width: 1px;
  height: 97%;
  left: 12px;
  bottom: 0;
  background-color: #fbfbfb;
}
.timeline__title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  line-height: 1.25;
}
.timeline__title:not(:last-child) {
  margin-bottom: 10px;
}
.timeline__text {
  font-size: 0.875em;
  line-height: 1.21;
  color: #656d72;
}
.timeline__text:not(:last-child) {
  margin-bottom: 24px;
}
.timeline__date {
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.21;
}

.content-skills__text:not(:last-child) {
  margin-bottom: 64px;
}
@media (max-width: 767.98px) {
  .content-skills__text:not(:last-child) {
    margin-bottom: 25px;
  }
}
.content-skills__items {
  display: grid;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .content-skills__items {
    gap: 20px;
  }
}
.content-skills__label {
  font-weight: 500;
  font-size: 0.875em;
  line-height: 1.21;
}
.content-skills__label:not(:last-child) {
  margin-bottom: 16px;
}
.content-skills__line {
  background-color: #f5f3fe;
  border-radius: 4px;
  height: 8px;
  position: relative;
}
.content-skills__line span {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #7e74f1;
}

.contacts {
  background-color: #fbfbfb;
}
.contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 767.98px) {
  .contacts__container {
    padding-top: 30px;
    padding-bottom: 20px;
  }
}
.contacts__content {
  display: flex;
  align-items: center;
}
@media (max-width: 850px) {
  .contacts__content {
    flex-direction: column-reverse;
  }
}
.contacts__form {
  flex: 0 1 50%;
}
.contacts__form._sending {
  position: relative;
}
.contacts__form._sending::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  background: rgba(51, 51, 51, 0.3) url(/fontsicon/loading.gif) center/50px no-repeat;
  transition: all 0.3s ease 0s;
}
@media (max-width: 850px) {
  .contacts__form {
    flex: 0 0 auto;
    width: 100%;
  }
}
.contacts__body {
  flex: 0 1 50%;
}
@media (max-width: 850px) {
  .contacts__body {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 40px;
  }
}
.contacts__list {
  padding-left: 105px;
}
@media (max-width: 850px) {
  .contacts__list {
    padding-left: 0px;
  }
}

.form {
  display: grid;
  gap: 16px;
}
.form__item:last-child {
  padding-top: 22px;
}
.form__input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  padding: 0 24px;
  background-color: #ffffff;
  transition: all 0.3s ease 0s;
}
.form__input::-moz-placeholder {
  font-size: 0.875em;
  line-height: 1.21;
  color: #656d72;
}
.form__input::placeholder {
  font-size: 0.875em;
  line-height: 1.21;
  color: #656d72;
}
.form__input._error {
  box-shadow: 0 0 15px red;
}
.form__input:focus {
  box-shadow: 0 0 15px #a39ced;
}
.form__input:focus::-moz-placeholder {
  color: #232e35;
}
.form__input:focus::placeholder {
  color: #232e35;
}
.form__button {
  background-color: #7e74f1;
  padding: 16px;
  color: #ffffff;
  border-radius: 8px;
  width: 100%;
  transition: background-color 0.3s ease 0s;
}
.form__button:hover {
  background-color: #574ebc;
}

textarea.form__input {
  height: 190px;
  resize: vertical;
  padding: 24px;
}
textarea.form__input::-moz-placeholder {
  color: #656d72;
}
textarea.form__input::placeholder {
  color: #656d72;
}

.list-contacts {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 767.98px) {
  .list-contacts {
    gap: 20px;
  }
}
.list-contacts__item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.list-contacts__icon {
  flex: 0 0 56px;
  background-color: #f5f3fe;
  border-radius: 16px;
  padding: 16px;
  text-align: center;
}
.list-contacts__title {
  font-weight: 500;
  line-height: 1.2;
}
.list-contacts__title:not(:last-child) {
  margin-bottom: 4px;
}
.list-contacts__text {
  font-size: 0.875em;
  line-height: 1.71;
  color: #656d72;
  transition: color 0.3s ease 0s;
}
.list-contacts__text:hover {
  color: #7e74f1;
}

.footer {
  background-color: #ffffff;
}
.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 88px;
  padding-bottom: 88px;
}
@media (max-width: 767.98px) {
  .footer__container {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
.footer__social {
  margin-bottom: 24px;
}
.footer__social .social__link {
  color: #656d72;
  transition: color 0.3s ease 0s;
}
.footer__social .social__link:hover {
  color: #7e74f1;
}
.footer__copy {
  color: #656d72;
  font-size: 0.875em;
  line-height: 1.21;
}/*# sourceMappingURL=index.css.map */