.career {
  background-color: $secondary-bg;

  // .career__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: $mobile) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  // career__body
  &__body {
    display: grid;

    grid-template-columns: auto;
    grid-template-rows: auto;

    @include adaptiveValue("row-gap", 80, 20, 1);
    @include adaptiveValue("column-gap", 144, 20, 1);

    @media (min-width: $mobile) {
      grid-auto-flow: column;
      align-content: center;
      align-items: start;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr;
    }
  }

  // .career__navigation
  &__navigation {}

  // .career__content
  &__content {
    @media (min-width: $mobile) {
      grid-row: span 2;
      padding-top: 32px;
    }
  }
}

.navigation-career {

  display: flex;
  flex-direction: column;
  align-items: center;




  @media (max-width: $mobile) {
    flex-direction: row;
  }

  @media (max-width: $small) {
    flex-wrap: wrap;
  }

  // .navigation-career__title
  &__title {
    display: block;
    width: 100%;
    text-align: left;
    padding: 14px 24px;
    line-height: 1.2;
    background-color: inherit;
    transition: all 0.2s ease 0s;
    border: $actionColor 1px solid;
    border-radius: 5px;
    margin: 10px;

    @media (max-width: $mobile) {
      padding: 14px;
      width: 100%;
    }

    &:hover {
      color: $actionColor;
    }

    &.active {
      display: flex;
      justify-content: space-between;
      background-color: $white-bg;
      color: $actionColor;

      &::after {
        content: "\e900";
        font-family: Icons;
        font-size: 0.9em;
      }
    }
  }
}

.content-career {

  // .content-career__body
  &__body {
    display: none;

    &.active {
      display: block;
    }
  }

  // .content-career__header
  &__header {
    padding-bottom: 32px;
    border-bottom: 1px solid #f1f1f1;
  }

  // .content-career__title
  &__title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    font-size: 1.21em;
    line-height: 1.27;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  // .content-career__link
  &__link {

    // .content-career__link_title
    &_title {
      color: inherit;
      text-decoration: underline;
      transition: color 0.3s ease 0s;

      &:hover {
        color: $actionColor;
      }
    }
  }

  // .content-career__location
  &__location {
    font-size: 0.87em;
    line-height: 1.21;
    color: $greyColor;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // .content-career__time
  &__time {
    font-weight: 500;
    font-size: 0.87em;
    line-height: 1.71;
    color: $greyColor;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  // .content-career__categories
  &__categories {}

  // .content-career__main
  &__main {
    padding-top: 32px;
  }

  // .content-career__list
  &__list {}
}

.list-content-career {

  // .list-content-career__item
  &__item {
    color: $greyColor;
    line-height: 1.2;
    position: relative;
    padding-left: 28px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &::before {
      content: "";
      width: 10px;
      height: 2px;
      background-color: #d9d9d9;
      position: absolute;
      top: 0.5em;
      left: 0;
    }
  }
}