.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.75);

  // .header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    min-height: 120px;

    @media (max-width: $mobile) {
      min-height: 60px;
    }
  }

  // .header__logo
  &__logo {
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
    z-index: 5;
  }

  // .header__menu
  &__menu {}

  // .header__button
  &__button {
    z-index: 5;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.21;
    padding: 14px 24px;
    border: 1px solid #f1f1f1;
    border-radius: 8px;
    color: inherit;
    transition: all 0.3s ease 0s;

    &:hover {
      color: #ffffff;
      background-color: $actionColor;
      border-color: $actionColor;
    }

    @media (max-width: $mobile) {
      padding: 8px 20px;
    }
  }

  &__actions {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

.logo {

  // .logo__name
  &__name {
    color: $mainColor;
    font-size: 1.5em;
    font-weight: 500;
  }
}

.menu {

  // .menu__icon
  &__icon {}

  // .menu__body
  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: $actionColor;
      opacity: 0.9;
      padding: 90px 15px 30px 15px;
      transition: left 0.4s ease 0s;

      &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background-color: $actionColor;
        z-index: 2;
      }

      &.menu-open {
        left: 0;
      }
    }
  }

  // .menu__list
  &__list {
    @media (min-width: $mobile) {
      display: flex;
      flex-wrap: wrap;
      column-gap: 56px;
      row-gap: 5px;
    }
  }

  // .menu__item
  &__item {
    text-align: right;

    @media (max-width: $mobile) {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  // .menu__link
  &__link {
    color: inherit;
    font-weight: 500;
    line-height: 1.18;
    transition: color 0.3s ease 0s;

    &:hover {
      color: $actionColor;
    }

    @media (max-width: $mobile) {
      color: #ffffff;
      font-size: 2em;
    }
  }
}

//Burger
.icon-menu {
  background-color: inherit;
  display: none;

  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: 36px;
    height: 18px;
    flex: 0 0 30px;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $mainColor;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: 50%;
      transform: scale(1) translate(0, -50%);
    }

    &.menu-open {
      span {
        transform: scale(0) translate(0, -50%);
      }

      // &::before,
      // &::after {
      // }
      &::before {
        top: 50%;
        transform: rotate(-45deg);
      }

      &::after {
        bottom: 50%;
        transform: rotate(45deg);
      }
    }
  }
}