.services {
  background-color: #fbfbfb;
  // .services__container
  &__container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 160px;
    @media (max-width: $mobile) {
      padding-top: 100px;
      padding-bottom: 30px;
    }
  }
  // .services__title
  &__title {
    &:not(:last-child) {
      margin-bottom: 80px;
    }
  }
  // .services__items
  &__items {
    width: 100%;
    display: grid;
    column-gap: 56px;
    row-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
  // .services__item
  &__item {
  }
}

.item-service {
  border-radius: 8px;
  background-color: $white-bg;
  padding: 53px 57px;
  display: grid;
  justify-items: center;
  text-align: center;

  // .item-service__icon
  &__icon {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f3fe;
    border-radius: 16px;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  // .item-service__title
  &__title {
    font-weight: 500;
    line-height: 1.25;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  // .item-service__text
  &__text {
    font-size: 0.875em;
    line-height: 1.71;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
}
