// ======================================================

.skills {
  // .skills__container
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    @media (max-width: $mobile) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  // .skills__title
  &__title {
    margin-bottom: 130px;
    @media (max-width: $mobile) {
      margin-bottom: 60px;
    }
  }
  // .skills__body
  &__body {
    display: grid;
    gap: 40px;
    @media (min-width: $mobile) {
      grid-template-columns: 1fr 55%;
    }
  }
  // .skills__timeline
  &__timeline {
  }
  // .skills__content
  &__content {
  }
}
// ======================================================
.timeline {
  display: grid;
  gap: 64px;
  position: relative;
  @media (max-width: $mobile) {
    gap: 30px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 4px;
    left: 12px;
    width: 1px;
    height: 100%;
    background-color: #f1f1f1;
  }
  // .timeline__item
  &__item {
    position: relative;
    padding-left: 40px;
    &::before {
      position: absolute;
      content: "";
      top: 3px;
      left: 4px;
      height: 16px;
      width: 16px;
      z-index: 3;
      background-color: #f1f1f1;
      border-radius: 50%;
    }
    &:last-child {
      &::after {
        content: "";
        position: absolute;
        z-index: 2;
        width: 1px;
        height: 97%;
        left: 12px;
        bottom: 0;
        background-color: $secondary-bg;
      }
    }
  }
  // .timeline__title
  &__title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 500;
    line-height: 1.25;
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  // .timeline__text
  &__text {
    font-size: 0.875em;
    line-height: 1.21;
    color: $greyColor;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  // .timeline__date
  &__date {
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.21;
  }
}
// ======================================================

.content-skills {
  // .content-skills__text
  &__text {
    &:not(:last-child) {
      margin-bottom: 64px;
      @media (max-width: $mobile) {
        margin-bottom: 25px;
      }
    }
  }
  // .content-skills__items
  &__items {
    display: grid;
    gap: 40px;
    @media (max-width: $mobile) {
      gap: 20px;
    }
  }
  // .content-skills__item
  &__item {
  }
  // .content-skills__label
  &__label {
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.21;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
  // .content-skills__line
  &__line {
    background-color: #f5f3fe;
    border-radius: 4px;
    height: 8px;
    position: relative;
    span {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      border-radius: 4px;
      background-color: $actionColor;
    }
  }
}
